node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.env.*.local

# Supabase CLI local state
supabase/.branches
supabase/.temp

# macOS
.DS_Store

# @generated expo-cli
expo-env.d.ts
